---
layout: base.njk
---

{% for post in collections.posts | reverse %}
<article class="post">
  <div class="post-header">
    <h2 class="post-title">
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h2>
    <p class="post-meta">
      <time datetime="{{ post.date | dateISO }}">{{ post.date | dateFormat }}</time>
      {%- set postTags = post.data.tags | semTags %}
      {%- if postTags.length %}
        ::
        {% for tag in postTags -%}
          <a href="/tags/{{ tag | slugify }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}
        {%- endfor %}
      {%- endif %}
    </p>
  </div>

  <div class="post-body">
    <p class="post-excerpt">{{ post.data.description or (post.content | resumo(220)) }}</p>
    <p class="leia-mais"><a href="{{ post.url }}">[ Ler mais &rarr; ]</a></p>
  </div>
</article>
{% endfor %}
