---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
permalink: /tags/{{ tag | slugify }}/
layout: base.njk
---

<h2 class="post-title" style="margin-top:0;">
  Posts marcados com "{{ tag }}"
</h2>

{% set taglist = collections[tag] | reverse %}

{% for post in taglist %}
<article class="post">
  <div class="post-header">
    <h2 class="post-title">
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h2>
    <p class="post-meta">{{ post.date | dateFormat }}</p>
  </div>
  {% if post.data.description %}
  <div class="post-body">
    <p>{{ post.data.description }}</p>
    <p><a href="{{ post.url }}">[ Ler mais ]</a></p>
  </div>
  {% endif %}
</article>
{% endfor %}

<p style="margin-top:20px;">
  <a href="/">← Voltar para a página inicial</a>
</p>
